<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Group Tasks</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
      <h1>Groups</h1>
      <ul>
        <% if (groups.length === 0) { %>
        <p>
          No groups available right now.
          <a id="create-grouptask" href="/groupTask/new">Create one now</a>.
        </p>
        <% } else { %> <% groups.forEach((group) => { %>
        <li>
          <strong><%= group.groupName %></strong> <%= group.groupDescription %>
          <a href="/groupTask/<%= group._id %>">View Details</a>
        </li>
        <% }); %> <% } %>
      </ul>
      <% if(groups.length > 0) {%>
      <a href="/groupTask/new">Create a New Group Task</a>
      <% } %>
    </div>
  </body>
</html>
